.contact-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.cont-title {
  font-size: 32px;
  margin-bottom: 2rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.3em;
}

.para-title {
  max-width: 450px;
  color: #fff;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 300;
}

.para-title a {
  text-decoration: underline;
  transition: 0.3s;
}

.para-title a:hover {
  color: #007bff;
}

.field-section {
  width: 100%;
  margin-bottom: 30px;
}

.field-label {
  margin-bottom: 10px;
  color: #c2c2c2;
  font-size: 14px;
  line-height: 1em;
  font-weight: 300;
}

.text-field {
  width: 100%;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px solid #ffffff1a;
  border-radius: 5px;
  background-color: #303338;
  color: #fff;
  font-size: 15px;
  padding: 10px 15px;
  line-height: 1em;
  font-weight: 300;
  transition: 0.3s;
}

.contact-section textarea:focus,
.contact-section input:focus {
  color: #fff;
  background-color: #303338;
  border-color: var(--first-color);
  outline: none;
  box-shadow: none;
}

.text-field:focus-within {
  background-color: #303338;
}

.text-field::placeholder {
  background-color: #303338;
}

.contact-section form {
  background: #1b1b1b;
  border: 1px solid #ffffff1a;
  border-radius: 10px;
  padding: 30px;
}

@media screen and (max-width: 576px) {
  .contact-section {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .about-title p {
    line-height: 20px;
    font-size: 12px;
  }

  .para-title {
    font-size: 13px;
  }

  .cont-title {
    font-size: 24px;
  }

  .contact-section form {
    margin-top: 30px;
  }

  .field-section {
    margin-bottom: 20px;
  }
}
