.services {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.services-list h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #fff;
}

.services-list p {
  margin-bottom: 20px;
  font-size: 14px;
}

.section-tag {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  align-items: center;
  color: #fff;
  font-size: 11px;
  line-height: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-tag-line {
  height: 1px;
  margin-left: 20px;
  flex: 1;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.8)
  );
}

.services-card {
  padding: 30px;
  background-color: #1b1b1b;
  transition: all 0.5s;
  border-radius: 12px;
  border: 1px solid #ffffff1a;
}

.services-card:hover {
  transform: translateY(-10px);
  border: none;
  /* transform: scale(1.02) rotateX(5.26285deg) rotateY(-0.612651deg); */
  background-image: linear-gradient(
    to bottom right,
    hsl(210deg 100% 79.94% / 30%),
    hsl(210deg 100% 84.83% / 0%)
  );
}

.services-card .icon_box {
  background: #a3d1ff1a;
  padding: 18px;
  border-radius: 12px;
}

.serv-icons {
  fill: var(--first-color);
}

.serv-btn {
  color: var(--first-color);
  transition: all 0.3s ease;
}

.serv-btn:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .section-tag {
    margin-bottom: 30px;
  }

  .services-card {
    padding: 30px;
  }

  .services-list h2 {
    font-size: 18px;
  }

  .services-list p {
    margin-bottom: 15px;
    font-size: 11px;
  }

  .serv-icons {
    width: 35px !important;
  }
}
