@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --first-color: #a3d1ff;
  --second-color: rgb(146 188 230 / 80%);
  /* --first-color: #db1981;
  --second-color: #e152a2; */
  --white-color: #fff;
  --text-color: #424247;
  /* --bg-color: #0e1525; */
  --bg-color: #000;
  --color_1: black;
  --bg-color-2: #1c2333;
}

body {
  background: var(--bg-color);
}

.nav-menu a.active {
  color: #f39c12;
  font-weight: bold;
}

h1,
h4,
a {
  color: #fff;
  text-decoration: none;
}

p {
  color: #fff;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

/* /////////////////// button CSS /////////////////// */

.common-heading {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background: #a3d1ff1a;
  color: #a3d1ff;
  margin-bottom: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button_group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.customButton.button-1 {
  position: relative;
  overflow: hidden;
  color: #000;
  background: #a3d1ff;
  min-width: 180px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  transition-duration: 0.5s;
}

.customButton.button-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a3d1ff;
  transform: translate3d(-100%, 0, 0);
}

.customButton.button-1::before {
  background: #fff;
  /* color: #37474f; */
  color: #000;
}

.customButton.button-1 > span {
  display: block;
  color: #000;
}

.customButton.button-1::before,
.customButton.button-1 > span {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  color: #000;
}
.customButton.button-1:hover::before,
.customButton.button-1:hover > span {
  transform: translate3d(0, 0, 0);
  color: #000;
}

.customButton.button-1:hover .arrow {
  transform: translateX(4px);
}

.customButton.button-2 {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: transparent;
  border: 2px solid #a3d1ff;
  min-width: 180px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  transition-duration: 0.5s;
}

.customButton.button-2:hover {
  color: #000;
}

.customButton.button-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a3d1ff;
  transform: translate3d(-100%, 0, 0);
}

.customButton.button-2::before {
  background: #a3d1ff;
  /* color: #37474f; */
}

.customButton.button-2 > span {
  display: block;
  color: #000;
}

.customButton.button-2::before,
.customButton.button-2 > span {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  color: #fff;
}
.customButton.button-2:hover::before,
.customButton.button-2:hover > span {
  transform: translate3d(0, 0, 0);
  color: #000;
}

.customButton:hover .arrow {
  transform: translateX(3px);
}

.arrow {
  display: inline-block;
  font-size: 20px;
  margin-left: 3px;
  transition: transform 0.5s ease;
}

.view-btn {
  position: relative;
  overflow: hidden;
  color: #000;
  background: var(--first-color);
  min-width: 140px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5rem;
  transition-duration: 0.5s;
}

.view-btn:hover {
  background: var(--second-color);
}

/* /////////////////// button CSS /////////////////// */

.top-heading {
  position: relative;
  line-height: 50px;
  margin-bottom: 4rem;
  text-align: center;
  color: #fff;
}

.top-heading h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.top-heading p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #9ca3af;
}

.section-wrapper {
  position: relative;
  overflow: hidden;
  /* padding-bottom: 100px; */
}

/* .section-wrapper.g-design {
  background-image: radial-gradient(
    circle closest-corner at 0% 50%,
    rgba(255, 111, 76, 0.1),
    rgba(255, 111, 76, 0)
  );
} */

.hero-badge {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  backdrop-filter: blur(12px);
  color: #ffffff;
  background-color: #ffffff21;
  border: 1px solid #ffffff0f;
  border-radius: 99px;
  align-items: center;
  padding: 4px 10px;
  font-size: 11px;
  line-height: 1em;
  font-weight: 300;
  display: inline-flex;
  box-shadow: inset 0 -4px 12px #ffffff1a;
}

@media (max-width: 576px) {
  .container {
    margin: 0 auto;
  }

  .customButton {
    font-size: 12px;
    padding: 0 15px;
    height: 36px;
    min-width: 130px;
    margin-top: 10px;
  }

  .section-wrapper {
    padding-bottom: 30px;
  }

  .customButton-transparent {
    min-width: 130px;
  }
}
